body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.wrapper {
    display: flex;
}

.box-container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}