/* user_style.css */

/* Add your custom styles here */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.wrapper {
    display: flex;
}

.user-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.content {
    padding: 20px; /* Add padding to the content area to prevent overlap with the sidebar */
}

/* Table styles */
.user-table {
    margin-top: 20px;
}

.user-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.user-table th {
    background-color: #f2f2f2;
}


/* Change link color */
a {
    color: #000; /* Set your desired link color */
    text-decoration: none; /* Remove underline */
}

/* Change link color on hover */
a:hover {
    color: #333; /* Set your desired link color on hover */
}